/**NAVBAR*/
/*image link container*/
#logoBox {
    width: 14%;
}

/*navbar containers*/
#navbarNav {
    font-size: 1.5rem;
}

/*ul*/
.navbar-nav {
    width: 50%;
    margin-left: 480px;
}

/**JUMBOTRON*/


/**CAROUSEL*/
.carousel-item img {
    /*w-100 is 100%*/
    height: auto;
    width: 30%;
    margin-left: 90px;
}

/*prev and next color to black*/
.carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
}