* {
    margin: 0;
    padding: 0;
}

header {
    /*background: green;*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 178px;
    border-bottom: 1px solid black;
    box-shadow: 0px 1px 10px grey; /*3rd value blur*/
}

#logo {
    width: 29%;
    height: auto;
}

#hero {
    width: 70%;
    text-align: center;
    background: whitesmoke;
    margin: 10px auto;
    padding: 40px 10px; 
}

#companyInfo {
    background: whitesmoke;
    width: 45%;
    text-align: center;
    margin: 10px auto;
}

#companyInfo p {
    font-size: 28px;
}

#productsContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 95%;
    margin: 10px auto;
    border-radius: 3px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    margin: 1px;
}

.productPanel {
    background: whitesmoke;
    text-align: center;
    margin: 15px 20px;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    height: 400px;

    /*flex-grow flex-shrink for responsive pictures*/
}

.productImg {
    width: 325px;
    height: 280px;
}